In [3]:
import pandas as pd

In [4]:
matches =  pd.read_csv("../data/matches_1991_2023.csv")
world_cup = pd.read_csv("../data/world_cup_women.csv")

# Información de *Matches*

In [5]:
matches.head(5)

,home_team,away_team,home_score,home_xg,home_penalty,away_score,away_xg,away_penalty,home_manager,home_captain,...,home_penalty_shootout_miss_long,away_penalty_shootout_miss_long,home_red_card,away_red_card,home_yellow_red_card,away_yellow_red_card,home_yellow_card_long,away_yellow_card_long,home_substitute_in_long,away_substitute_in_long
0,Spain,England,1,2.1,NaN,0,0.5,NaN,Jorge Vilda,Olga Carmona,...,NaN,NaN,NaN,NaN,NaN,NaN,['78’|1:0|Salma Paralluelo'],['55’|1:0|Lauren Hemp'],"['60’|1:0|Oihane Hernández|for Alba Redondo', ...","['46’|1:0|Lauren James|for Alessia Russo', '46..."
1,Sweden,Australia,2,1.8,NaN,0,0.8,NaN,Peter Gerhardsson,Kosovare Asllani,...,NaN,NaN,NaN,NaN,NaN,NaN,"['88’|2:0|Elin Rubensson', '90+5’|2:0|Lina Hur...",['45+1’|1:0|Katrina Gorry'],['67’|2:0|Rebecka Blomqvist|for Stina Blackste...,"['60’|1:0|Cortnee Vine|for Hayley Raso', '60’|..."
2,Australia,England,1,1.4,NaN,3,1.3,NaN,Tony Gustavsson,Sam Kerr,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['10’|0:0|Alex Greenwood', '90+5’|1:3|Chloe Ke...","['72’|1:2|Cortnee Vine|for Hayley Raso', '81’|...","['87’|1:3|Chloe Kelly|for Alessia Russo', '90’..."
3,Spain,Sweden,2,1.6,NaN,1,0.9,NaN,Jorge Vilda,Olga Carmona,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['57’|0:0|Salma Paralluelo|for Alexia Putellas...,['77’|0:0|Rebecka Blomqvist|for Stina Blackste...
4,Australia,France,0,1.6,7.0,0,2.0,6.0,Tony Gustavsson,Steph Catley,...,"['4|1:1|Steph Catley', '10|3:3|Mackenzie Arnol...","['1|0:0|Selma Bacha', '9|3:3|Ève Périsset', '1...",NaN,NaN,NaN,NaN,['92’|0:0|Katrina Gorry'],NaN,"['55’|0:0|Sam Kerr|for Emily van Egmond', '104...","['64’|0:0|Vicki Bècho|for Sandie Toletti', '12..."

In [6]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 44 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   home_team                        348 non-null    object
 1   away_team                        348 non-null    object
 2   home_score                       348 non-null    int64
 3   home_xg                          116 non-null    float64
 4   home_penalty                     11 non-null     float64
 5   away_score                       348 non-null    int64
 6   away_xg                          116 non-null    float64
 7   away_penalty                     11 non-null     float64
 8   home_manager                     168 non-null    object
 9   home_captain                     168 non-null    object
 10  away_manager                     168 non-null    object
 11  away_captain                     168 non-null    object
 12  Attendance                       348 non-null    int64
 13  Venue                            348 non-null    object
 14  Officials                        345 non-null    object
 15  Round                            348 non-null    object
 16  Date                             348 non-null    object
 17  Score                            348 non-null    object
 18  Referee                          341 non-null    object
 19  Notes                            20 non-null     object
 20  Host                             348 non-null    object
 21  Year                             348 non-null    int64
 22  home_goal                        252 non-null    object
 23  away_goal                        200 non-null    object
 24  home_goal_long                   252 non-null    object
 25  away_goal_long                   200 non-null    object
 26  home_own_goal                    18 non-null     object
 27  away_own_goal                    13 non-null     object
 28  home_penalty_goal                54 non-null     object
 29  away_penalty_goal                35 non-null     object
 30  home_penalty_miss_long           13 non-null     object
 31  away_penalty_miss_long           7 non-null      object
 32  home_penalty_shootout_goal_long  11 non-null     object
 33  away_penalty_shootout_goal_long  11 non-null     object
 34  home_penalty_shootout_miss_long  8 non-null      object
 35  away_penalty_shootout_miss_long  10 non-null     object
 36  home_red_card                    8 non-null      object
 37  away_red_card                    11 non-null     object
 38  home_yellow_red_card             8 non-null      object
 39  away_yellow_red_card             3 non-null      object
 40  home_yellow_card_long            213 non-null    object
 41  away_yellow_card_long            230 non-null    object
 42  home_substitute_in_long          344 non-null    object
 43  away_substitute_in_long          343 non-null    object
dtypes: float64(4), int64(4), object(36)
memory usage: 119.8+ KB

In [7]:
matches.isnull().sum()

home_team                            0
away_team                            0
home_score                           0
home_xg                            232
home_penalty                       337
away_score                           0
away_xg                            232
away_penalty                       337
home_manager                       180
home_captain                       180
away_manager                       180
away_captain                       180
Attendance                           0
Venue                                0
Officials                            3
Round                                0
Date                                 0
Score                                0
Referee                              7
Notes                              328
Host                                 0
Year                                 0
home_goal                           96
away_goal                          148
home_goal_long                      96
away_goal_long                     148
home_own_goal                      330
away_own_goal                      335
home_penalty_goal                  294
away_penalty_goal                  313
home_penalty_miss_long             335
away_penalty_miss_long             341
home_penalty_shootout_goal_long    337
away_penalty_shootout_goal_long    337
home_penalty_shootout_miss_long    340
away_penalty_shootout_miss_long    338
home_red_card                      340
away_red_card                      337
home_yellow_red_card               340
away_yellow_red_card               345
home_yellow_card_long              135
away_yellow_card_long              118
home_substitute_in_long              4
away_substitute_in_long              5
dtype: int64

In [8]:
print(f"\nTotal de filas duplicadas: {matches.duplicated().sum()}")

Total de filas duplicadas: 0

# Información de *Mundiales*

In [9]:
world_cup.head(5)

,Year,Host,Teams,Champion,Runner-Up,TopScorrer,Attendance,AttendanceAvg,Matches
0,2023,"Australia, New Zealand",32,NaN,NaN,Hinata Miyazawa - 5,1976274,30879,64
1,2019,France,24,United States,Netherlands,"Alex Morgan, Megan Rapinoe... - 6",1095118,21902,52
2,2015,Canada,24,United States,Japan,"Célia Šašić, Carli Lloyd - 6",1353486,26029,52
3,2011,Germany,16,Japan,United States,Homare Sawa - 5,248107,31013,32
4,2007,China PR,16,Germany,Brazil,Marta - 7,1176955,36780,32

In [10]:
world_cup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           9 non-null      int64
 1   Host           9 non-null      object
 2   Teams          9 non-null      int64
 3   Champion       8 non-null      object
 4   Runner-Up      8 non-null      object
 5   TopScorrer     9 non-null      object
 6   Attendance     9 non-null      int64
 7   AttendanceAvg  9 non-null      int64
 8   Matches        9 non-null      int64
dtypes: int64(5), object(4)
memory usage: 780.0+ bytes

In [11]:
world_cup.isnull().sum()

Year             0
Host             0
Teams            0
Champion         1
Runner-Up        1
TopScorrer       0
Attendance       0
AttendanceAvg    0
Matches          0
dtype: int64

In [12]:
print(f"\nTotal de filas duplicadas: {world_cup.duplicated().sum()}")

Total de filas duplicadas: 0

In [13]:
world_cup.duplicated().sum()

np.int64(0)

# Validación cruzada

In [14]:
cols_matches = set(matches.columns)
cols_world_cup = set(world_cup.columns)

print(f"\nColumnas comunes entre ambas tablas: {list(cols_matches.intersection(cols_world_cup))}")

Columnas comunes entre ambas tablas: ['Host', 'Attendance', 'Year']

Por contexto y la naturaleza de los datos, seleccionamos Year y Host como las claves de relación.

In [15]:
claves = ['Year', 'Host']

print("\n Validación de Nulos en Claves de Relación")
print("Tabla 'matches'")
print(matches[claves].isnull().sum())

print("\nTabla 'world_cup'")
print(world_cup[claves].isnull().sum())

 Validación de Nulos en Claves de Relación
Tabla 'matches'
Year    0
Host    0
dtype: int64

Tabla 'world_cup'
Year    0
Host    0
dtype: int64

In [16]:
print("\nValidación de valores únicos en claves:")
print(f"\nAños en 'matches': {sorted(matches['Year'].unique().tolist())}")
print(f"Años en 'world_cup': {sorted(world_cup['Year'].unique().tolist())}")

print(f"\nHosts en 'matches': {sorted(matches['Host'].unique().tolist())}")
print(f"Hosts en 'world_cup': {sorted(world_cup['Host'].unique().tolist())}")

Validación de valores únicos en claves:

Años en 'matches': [1991, 1995, 1999, 2003, 2007, 2011, 2015, 2019, 2023]
Años en 'world_cup': [1991, 1995, 1999, 2003, 2007, 2011, 2015, 2019, 2023]

Hosts en 'matches': ['Australia, New Zealand', 'Canada', 'China PR', 'France', 'Germany', 'Sweden', 'United States']
Hosts en 'world_cup': ['Australia, New Zealand', 'Canada', 'China PR', 'France', 'Germany', 'Sweden', 'United States']

# Tabla de posiciones Mundial 1991

In [17]:
matches_1991 = matches[matches['Year'] == 1991].copy()

In [18]:
home_teams = matches_1991['home_team'].unique()
away_teams = matches_1991['away_team'].unique()
all_teams_1991 = pd.Series(list(set(home_teams) | set(away_teams))).sort_values().tolist()

In [19]:
tabla_posiciones = pd.DataFrame({
    'Equipo': all_teams_1991,
    'PJ': 0,
    'PG': 0,
    'PE': 0,
    'PP': 0,
    'GF': 0,
    'GC': 0,
    'DG': 0,
    'JL': 0,
    'Puntos': 0
})

In [20]:
print(matches_1991[['home_yellow_card_long', 'away_yellow_card_long', 
                     'home_red_card', 'away_red_card',
                     'home_yellow_red_card', 'away_yellow_red_card']].head(5))

                                 home_yellow_card_long  \
322                         ['54’|1:1|Michelle Akers']
323  ['53’|4:0|Helen Nilsson', '60’|4:0|Anneli Ande...
324                                                NaN
325                         ['67’|4:2|Michelle Akers']
326                     ['37’|1:1|Birgitt Austermühl']

                                 away_yellow_card_long home_red_card  \
322                                                NaN           NaN
323                                                NaN           NaN
324                                                NaN           NaN
325                         ['59’|4:1|Doris Fitschen']           NaN
326  ['17’|1:0|Karina Sefron', '70’|1:1|Annie Gam-P...           NaN

    away_red_card home_yellow_red_card away_yellow_red_card
322           NaN                  NaN                  NaN
323           NaN                  NaN                  NaN
324           NaN                  NaN                  NaN
325           NaN                  NaN                  NaN
326           NaN                  NaN                  NaN

In [21]:
print("Amarillas-rojas en 1991:")
print(matches_1991[['home_yellow_red_card', 'away_yellow_red_card']].dropna())

Amarillas-rojas en 1991:
Empty DataFrame
Columns: [home_yellow_red_card, away_yellow_red_card]
Index: []

In [22]:
def contar_tarjetas(valor):
    if pd.isna(valor) or valor == '':
        return 0
    valor_limpio = valor.replace(' ,', ',').replace(', ', ',')
    return len(valor_limpio.split("', "))

In [23]:
for idx, partido in matches_1991.iterrows():
    home = partido['home_team']
    away = partido['away_team']
    home_score = partido['home_score']
    away_score = partido['away_score']
    
    tabla_posiciones.loc[tabla_posiciones['Equipo'] == home, 'PJ'] += 1
    tabla_posiciones.loc[tabla_posiciones['Equipo'] == away, 'PJ'] += 1
    
    tabla_posiciones.loc[tabla_posiciones['Equipo'] == home, 'GF'] += home_score
    tabla_posiciones.loc[tabla_posiciones['Equipo'] == home, 'GC'] += away_score
    tabla_posiciones.loc[tabla_posiciones['Equipo'] == away, 'GF'] += away_score
    tabla_posiciones.loc[tabla_posiciones['Equipo'] == away, 'GC'] += home_score
    
    if home_score > away_score:  #gana local
        tabla_posiciones.loc[tabla_posiciones['Equipo'] == home, 'PG'] += 1
        tabla_posiciones.loc[tabla_posiciones['Equipo'] == home, 'Puntos'] += 3
        tabla_posiciones.loc[tabla_posiciones['Equipo'] == away, 'PP'] += 1
    elif home_score < away_score:  #gana visitante
        tabla_posiciones.loc[tabla_posiciones['Equipo'] == away, 'PG'] += 1
        tabla_posiciones.loc[tabla_posiciones['Equipo'] == away, 'Puntos'] += 3
        tabla_posiciones.loc[tabla_posiciones['Equipo'] == home, 'PP'] += 1
    else:  #empate
        tabla_posiciones.loc[tabla_posiciones['Equipo'] == home, 'PE'] += 1
        tabla_posiciones.loc[tabla_posiciones['Equipo'] == away, 'PE'] += 1
        tabla_posiciones.loc[tabla_posiciones['Equipo'] == home, 'Puntos'] += 1
        tabla_posiciones.loc[tabla_posiciones['Equipo'] == away, 'Puntos'] += 1
    
    #esta parte es juego limpio
    home_yellow = contar_tarjetas(partido['home_yellow_card_long'])
    away_yellow = contar_tarjetas(partido['away_yellow_card_long'])
    home_red = contar_tarjetas(partido['home_red_card'])
    away_red = contar_tarjetas(partido['away_red_card'])

    tabla_posiciones.loc[tabla_posiciones['Equipo'] == home, 'JL'] += (home_yellow * -1) + (home_red * -2)
    tabla_posiciones.loc[tabla_posiciones['Equipo'] == away, 'JL'] += (away_yellow * -1) + (away_red * -2)

In [24]:
tabla_posiciones['DG'] = tabla_posiciones['GF'] - tabla_posiciones['GC']

tabla_posiciones = tabla_posiciones.sort_values(
    by=['Puntos', 'DG', 'GF'], 
    ascending=[False, False, False]
).reset_index(drop=True)

print(tabla_posiciones)

            Equipo  PJ  PG  PE  PP  GF  GC  DG  JL  Puntos
0    United States   6   6   0   0  25   5  20  -4      18
1           Sweden   6   4   0   2  18   7  11  -3      12
2           Norway   6   4   0   2  14  10   4  -3      12
3          Germany   6   4   0   2  13  10   3  -3      12
4         China PR   4   2   1   1  10   4   6  -2       7
5            Italy   4   2   0   2   8   5   3  -3       6
6          Denmark   4   1   1   2   7   6   1  -1       4
7           Brazil   3   1   0   2   1   7  -6  -2       3
8   Chinese Taipei   4   1   0   3   2  15 -13  -3       3
9          Nigeria   3   0   0   3   0   7  -7  -2       0
10     New Zealand   3   0   0   3   1  11 -10   0       0
11           Japan   3   0   0   3   0  12 -12  -1       0

# Tabla de goleadoras mundial 2023

In [25]:
matches_2023 = matches[matches['Year'] == 2023].copy()

In [26]:
print("Ejemplos con goles:")
print(matches_2023[matches_2023['home_goal_long'].notna()][
    ['home_team', 'home_goal', 'home_goal_long', 'home_penalty_goal']
].head(5))

Ejemplos con goles:
   home_team                                  home_goal  \
0      Spain                         Olga Carmona · 29’
1     Sweden                     Kosovare Asllani · 62’
2  Australia                             Sam Kerr · 63’
3      Spain  Salma Paralluelo · 81’|Olga Carmona · 89’
5    England    Lauren Hemp · 45+6’|Alessia Russo · 63’

                                      home_goal_long  \
0  ['29’|1:0|Olga Carmona|Assist:|Mariona Caldent...
1  ['62’|2:0|Kosovare Asllani|Assist:|Stina Black...
2         ['63’|1:1|Sam Kerr|Assist:|Katrina Gorry']
3  ['81’|1:0|Salma Paralluelo', '89’|2:1|Olga Car...
5  ['45+6’|1:1|Lauren Hemp', '63’|2:1|Alessia Rus...

           home_penalty_goal
0                        NaN
1  Fridolina Rolfö (P) · 30’
2                        NaN
3                        NaN
5                        NaN

In [27]:
caso_sweden = matches_2023[
    (matches_2023['home_team'] == 'Sweden') & 
    (matches_2023['home_penalty_goal'].notna())
].iloc[0]

print("Caso Sweden con penal:")
print(f"\nPenalty goal: {caso_sweden['home_penalty_goal']}")
print(f"\nGoal long completo:\n{caso_sweden['home_goal_long']}")

Caso Sweden con penal:

Penalty goal: Fridolina Rolfö (P) · 30’

Goal long completo:
['62’|2:0|Kosovare Asllani|Assist:|Stina Blackstenius']

In [28]:
def extraer_goleadoras(valor):
    if pd.isna(valor) or valor == '':
        return []
    
    goleadoras = []
    goles = valor.split("', '")
    
    for gol in goles:
        gol = gol.replace("['", "").replace("']", "")
        partes = gol.split('|')
        if len(partes) >= 3:
            nombre = partes[2].strip()
            goleadoras.append(nombre)
    
    return goleadoras

In [29]:
def extraer_goleadoras_penalty(valor):
    if pd.isna(valor) or valor == '':
        return []
    
    goleadoras = []
    penales = valor.split('|')
    
    for penal in penales:
        if '(P)' in penal:
            nombre = penal.split('(P)')[0].strip()
            goleadoras.append(nombre)
    
    return goleadoras

In [30]:
todas_goleadoras = []

for idx, partido in matches_2023.iterrows():
    #normales
    todas_goleadoras.extend(extraer_goleadoras(partido['home_goal_long']))
    todas_goleadoras.extend(extraer_goleadoras(partido['away_goal_long']))
    
    #de penal
    todas_goleadoras.extend(extraer_goleadoras_penalty(partido['home_penalty_goal']))
    todas_goleadoras.extend(extraer_goleadoras_penalty(partido['away_penalty_goal']))

df_goles = pd.DataFrame(todas_goleadoras, columns=['Jugadora'])

tabla_goleadoras = df_goles.groupby('Jugadora').size().reset_index(name='Goles')

tabla_goleadoras = tabla_goleadoras.sort_values('Goles', ascending=False).reset_index(drop=True)

In [31]:
tabla_goleadoras.head(20)

             Jugadora  Goles
0     Hinata Miyazawa      5
1     Amanda Ilestedt      4
2          Jill Roord      4
3      Alexandra Popp      4
4    Kadidiatou Diani      4
5         Hayley Raso      3
6       Alessia Russo      3
7          Ary Borges      3
8     Fridolina Rolfö      3
9   Eugénie Le Sommer      3
10     Aitana Bonmatí      3
11       Alba Redondo      3
12  Rebecka Blomqvist      3
13  Sophie Román Haug      3
14        Lauren Hemp      3
15       Lauren James      3
16   Jennifer Hermoso      3
17     Arianna Caruso      2
18       Esmee Brugts      2
19      Catalina Usme      2

# Tabla completa por equipo y año

In [32]:
resultados = []

años = sorted(matches['Year'].unique())

for año in años:
    matches_año = matches[matches['Year'] == año].copy()

    host = matches_año['Host'].iloc[0]
    
    home_teams = matches_año['home_team'].unique()
    away_teams = matches_año['away_team'].unique()
    equipos = sorted(list(set(home_teams) | set(away_teams)))

    for equipo in equipos:

        #partidos juados
        partidos_home = matches_año[matches_año['home_team'] == equipo]
        partidos_away = matches_año[matches_año['away_team'] == equipo]

        pj = len(partidos_home) + len(partidos_away)
        
        #goles hechos
        goles_marcados_home = partidos_home['home_score'].sum()
        goles_marcados_away = partidos_away['away_score'].sum()
        goles_totales_marcados = goles_marcados_home + goles_marcados_away
        promedio_goles_marcados = goles_totales_marcados / pj if pj > 0 else 0
        
        #goles recibidos
        goles_recibidos_home = partidos_home['away_score'].sum()
        goles_recibidos_away = partidos_away['home_score'].sum()
        goles_totales_recibidos = goles_recibidos_home + goles_recibidos_away
        promedio_goles_recibidos = goles_totales_recibidos / pj if pj > 0 else 0
        
        #victorias
        victorias_home = (partidos_home['home_score'] > partidos_home['away_score']).sum()
        victorias_away = (partidos_away['away_score'] > partidos_away['home_score']).sum()
        partidos_ganados = victorias_home + victorias_away
        
        #derrotas
        derrotas_home = (partidos_home['home_score'] < partidos_home['away_score']).sum()
        derrotas_away = (partidos_away['away_score'] < partidos_away['home_score']).sum()
        partidos_perdidos = derrotas_home + derrotas_away
        
        #empates
        empates_home = (partidos_home['home_score'] == partidos_home['away_score']).sum()
        empates_away = (partidos_away['away_score'] == partidos_away['home_score']).sum()
        partidos_empatados = empates_home + empates_away
        
        #asistencias
        asistencia_home = partidos_home['Attendance'].sum()
        asistencia_away = partidos_away['Attendance'].sum()
        asistencia_total = asistencia_home + asistencia_away
        promedio_asistencia = asistencia_total / pj if pj > 0 else 0
        
        resultados.append({
            'Año': año,
            'Host': host,
            'Equipo': equipo,
            'Partidos Jugados': pj,
            'Goles Totales Marcados': int(goles_totales_marcados),
            'Promedio Goles Marcados': round(promedio_goles_marcados, 2),
            'Goles Totales Recibidos': int(goles_totales_recibidos),
            'Promedio Goles Recibidos': round(promedio_goles_recibidos, 2),
            'Partidos Ganados': int(partidos_ganados),
            'Partidos Perdidos': int(partidos_perdidos),
            'Partidos Empatados': int(partidos_empatados),
            'Promedio Asistencia': round(promedio_asistencia, 2)
        })

tabla_completa = pd.DataFrame(resultados)

In [33]:
tabla_completa.head(20)

,Año,Host,Equipo,Partidos Jugados,Goles Totales Marcados,Promedio Goles Marcados,Goles Totales Recibidos,Promedio Goles Recibidos,Partidos Ganados,Partidos Perdidos,Partidos Empatados,Promedio Asistencia
0,1991,China PR,Brazil,3,1,0.33,7,2.33,1,2,0,13833.33
1,1991,China PR,China PR,4,10,2.50,4,1.00,2,1,1,40250.00
2,1991,China PR,Chinese Taipei,4,2,0.50,15,3.75,1,3,0,11750.00
3,1991,China PR,Denmark,4,7,1.75,6,1.50,1,2,1,17125.00
4,1991,China PR,Germany,6,13,2.17,10,1.67,4,2,0,14666.67
5,1991,China PR,Italy,4,8,2.00,5,1.25,2,2,0,12000.00
6,1991,China PR,Japan,3,0,0.00,12,4.00,0,3,0,14000.00
7,1991,China PR,New Zealand,3,1,0.33,11,3.67,0,3,0,13333.33
8,1991,China PR,Nigeria,3,0,0.00,7,2.33,0,3,0,13333.33
9,1991,China PR,Norway,6,14,2.33,10,1.67,4,2,0,30750.00
10,1991,China PR,Sweden,6,18,3.00,7,1.17,4,2,0,21833.33
11,1991,China PR,United States,6,25,4.17,5,0.83,6,0,0,23083.33
12,1995,Sweden,Australia,3,3,1.00,13,4.33,0,3,0,1383.33
13,1995,Sweden,Brazil,3,3,1.00,8,2.67,1,2,0,6663.00
14,1995,Sweden,Canada,3,5,1.67,13,4.33,0,2,1,1206.67
15,1995,Sweden,China PR,6,11,1.83,10,1.67,2,2,2,3886.50
16,1995,Sweden,Denmark,4,7,1.75,8,2.00,1,3,0,2628.50
17,1995,Sweden,England,4,6,1.50,9,2.25,2,2,0,2583.75
18,1995,Sweden,Germany,6,13,2.17,6,1.00,4,2,0,6008.33
19,1995,Sweden,Japan,4,2,0.50,8,2.00,1,3,0,4419.25

### Preguntas clave

• ¿Cómo ha cambiado el promedio de goles por partido a lo largo de los torneos?

In [34]:
tendencia_goles = matches.groupby('Year').agg({
    'home_score': 'sum',
    'away_score': 'sum',
    'home_team': 'count' 
}).rename(columns={'home_team': 'Total_Partidos'})

tendencia_goles['Goles_Totales'] = tendencia_goles['home_score'] + tendencia_goles['away_score']
tendencia_goles['Promedio_Gol_Partido'] = tendencia_goles['Goles_Totales'] / tendencia_goles['Total_Partidos']

print(tendencia_goles[['Promedio_Gol_Partido']])

      Promedio_Gol_Partido
Year
1991              3.807692
1995              3.807692
1999              3.812500
2003              3.281250
2007              3.468750
2011              2.687500
2015              2.807692
2019              2.807692
2023              2.562500

• ¿Cuáles son las selecciones con mejor desempeño en términos de victorias?

In [36]:
ranking_victorias = tabla_completa.groupby('Equipo')['Partidos Ganados'].sum().reset_index()
ranking_victorias = ranking_victorias.sort_values('Partidos Ganados', ascending=False)

print(ranking_victorias.head(10))

           Equipo  Partidos Ganados
41  United States                41
16        Germany                30
38         Sweden                28
29         Norway                25
2          Brazil                21
13        England                20
21          Japan                18
6        China PR                17
15         France                13
26    Netherlands                10

•¿Existen tendencias en los equipos dominantes y con peor desempeño?

In [37]:
tendencias = tabla_completa.groupby('Equipo').agg({
    'Partidos Jugados': 'sum',
    'Goles Totales Marcados': 'sum',
    'Goles Totales Recibidos': 'sum'
}).reset_index()

tendencias['Diferencia_Gol'] = tendencias['Goles Totales Marcados'] - tendencias['Goles Totales Recibidos']

print("--- Equipos Dominantes (Mejor Diferencia de Gol) ---")
print(tendencias.sort_values('Diferencia_Gol', ascending=False).head(3))

print("\n--- Equipos con dificultades (Peor Diferencia de Gol) ---")
print(tendencias.sort_values('Diferencia_Gol', ascending=True).head(3))

--- Equipos Dominantes (Mejor Diferencia de Gol) ---
           Equipo  Partidos Jugados  Goles Totales Marcados  \
41  United States                54                     142
16        Germany                47                     128
29         Norway                44                     100

    Goles Totales Recibidos  Diferencia_Gol
41                       39             103
16                       41              87
29                       55              45

--- Equipos con dificultades (Peor Diferencia de Gol) ---
         Equipo  Partidos Jugados  Goles Totales Marcados  \
28      Nigeria                30                      23
0     Argentina                12                       7
27  New Zealand                18                       9

    Goles Totales Recibidos  Diferencia_Gol
28                       65             -42
0                        42             -35
27                       35             -26